nav{
    background-color: #A5D0D9;
}

nav .navbar-brand{
    font-family: 'Roboto Slab', serif;
}

.carousel{
    background-color: #A5D0D9;
    height:100%;
}


.carousel-item h1{
    font-family: 'Roboto Slab', serif;
    color:white;
    font-size:34px;
    padding-top:60px;
}

.carousel img{
    height:300px;
    object-fit:contain;
}

.workGrid{
    background-color: #99D3A7;
    height:500px;
}

.showcase img{
    height:200px;
    object-fit:contain;
}

.showcase h3{
    font-size:1rem;
}