nav {
    background-color: #A5D0D9;
}

nav .navbar-brand {
    font-family: 'Roboto Slab', serif;
}

.carousel {
    background-color: #A5D0D9;
    height: 100%;
}


.carousel-item h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 34px;
    padding-top: 60px;
}

.carousel img {
    height: 300px;
    object-fit: contain;
}

.workGrid {
    background-color: #99D3A7;
    height: 100%;
}

.workGrid img {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.meetusHeader img {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.recentPosts img {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.meetusHeader .workphoto {
    background-color: white;
    height: 200px;
    width: 250px;
}

.showcase img {
    height: 100px;
    object-fit: contain;
}

.showcase h3 {
    font-size: 1rem;
}

.header {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

.meetusHeader {
    background-color: #E0B6C6;
    height: 100%;
}

.recentPosts {
    background-color: #A5D0D9;
    height: 100%;
}

.btn-green {
    background-color: #99D3A7;
}

.btn-blue {
    background-color: #A5D0D9;
}

.meetusHeader h3,
.recentPosts h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.meetusHeader h5,
.recentPosts h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

.info {
    width: 250px;
    height: 200px;
    background-color: white;
}

.meetusHeader i {
    font-size: 40px;
}

.contactForm {
    margin: 5px;
    width: 40%;
    border-radius: 5px;
}

.message::placeholder {
    vertical-align: top;
}

.message {
    height: 100px;
}
